<%= form_for @list do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to 'Cancel', lists_path, {:class => "button-cancel"} %>
  </div>
<% end %>
