<% if todo.attribute_present? "id" %>
<li>
<%= form_for(todo) do |f| %>
<div class="field">  
<%= f.check_box :completed %>
</div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :estimation %><br />
    <%= f.text_field :estimation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</li>

<% end %>