<%= form_for([@list, @list.todos.build]) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :estimation %><br />
    <%= f.text_field :estimation %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.text_field :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
