<!DOCTYPE html>
<html>
<head>
  <title>Todolys - <%= yield :title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "text" %>
  <%= stylesheet_link_tag "960" %>
  <%= stylesheet_link_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<ul class="nav container_12">
  <li class="slogan">
    <a href="http://artdaw.livejournal.com/tag/todolys">Creator blog</a>
  </li>
  <li class="slogan">
    <a href="http://twitter.com/todolys">Twitter</a>
  </li>
  <% if current_user %>
      <li>
        <%= link_to "Change email or password", edit_user_path(:current) %>
      </li>
      <li>
        <%= link_to "Logout", logout_path %>
      </li>
  <% else %>
      <li>
        <%= link_to "Sign in", login_path %>
      </li>
  <% end %>
</ul>
<div class="container_12 logo">
  <%= link_to image_tag("logo2.png"), root_path %>
</div>
<div class="container_12">
  <%= yield %>
</div>
<div class="container_12">
  <div class="grid_12 footer">
    Copyright &copy; 2011 Todolys. All rights reserved.
  </div>
</div>
</body>
</html>
